<%- include ('../partials/header') %>

<div class="">
    <img src="/Images_Appli/Logo.PNG" alt="Logo de l'application">
</div>
<br>

<div class="">
		<table class="menu">
            <tr>
                <th style="text-decoration:underline">Accueil</th>
                <th> <a href="/Reservation" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Réservation</a></th>
                <th> <a href="/Compte" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Compte</a> </th>
				<th> <a href="/Contacts" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Nous Joindre </a> </th>
            </tr>
		</table>
	</div>
<br>

<div class="">
	<div class="col s12">
        <% 
        if (items.length>0) {%>

		    <h1><strong> Liste des vols offerts par Airline Express </strong></h1>
		    
			<table class="tables">
				<thead>
				<tr>
					<th style="width:2%;font-size:25px;height:70px">ID </th>
					<th style="width:40%;font-size:25px;height:70px">Dates des vols</th>
					<th style="width:10%;font-size:25px;height:70px">Sieges</th>
					<th style="width:10%;font-size:25px;height:70px">Pays de départ</th>
					<th style="width:15%;font-size:25px;height:70px">Pays de destination</th>
					<th style="width:10%;font-size:25px;height:70px">Prix</th>
				</tr>
				</thead>
				<tbody>+
                    
                    <% items.forEach(function(item,index){ %>
                        <tr>
                        <td style="width:2%;font-size:20px"><%= index+1 %> </td>
                        <td style="width:40%;font-size:20px"><%= item.date_vol %></td>
                        <td style="width:10%;font-size:20px"><%= item.num_siege %></td>
						<td style="width:10%;font-size:20px;text-align:left"><%= item.pays_origine %></td>
						<td style="width:15%;font-size:20px;text-align:left"><%= item.pays_destination %></td>
						<td style="width:10%;font-size:20px"><%= item.Prix %>$</td>
                        </td>
                    </tr>
                    <%}); %>
				</tbody>

			</table>
		<% }else {%>
			<p><strong> Non disponible </strong></p>
		<% } %>
		</div>
		<br>

		<p class="liens">
	        <a  href="/" class="liaison_pages" style = "float:left;"> Retourner à l'accueil </a>
		    <a  href="/Reservation" class="liaison_pages" style = "float:right;"> Reserver ici </a>
	    </p>
	<div>
</div>
<br>

<%- include ('../partials/footer') %>