<%- include ('../partials/header') %>

<div class="">
        <img src="/Images_Appli/Logo.PNG" alt="Logo de l'application" style="margin-left:auto;margin-right:auto">
    </div>
    <br>

<div class="">
		<table style="background-color:Blue;color:White;font-size:30px;width:80%;height:70px;margin-left:auto;margin-right:auto">
            <tr>
                <th> <a href="/" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Accueil </a> </th>
                <th style="text-decoration:underline">Réservation</th>
                <th> <a href="/Compte" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Compte</a> </th>
				<th > <a href="/Contacts" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Nous Joindre </a> </th>
            </tr>
		</table>
	</div>
<br>
<br>

<div class="">
    <br>
	<div class="col s12">
        <% 
        if (items.length>0) {%>
		    <h1> Historique de vos réservation </h1>
			<table class="table" style = "width:80%;height:70px;background-color:AliceBlue;color:Black;font-size:30px;margin-left:auto;margin-right:auto">
				<thead>
				<tr>
					<th style="width:2%;font-size:25px;height:70px">ID </th>
					<th style="width:40%;font-size:25px;height:70px;">Dates des vols</th>
					<th style="width:10%;font-size:25px;height:70px">Sieges</th>
					<th style="width:10%;font-size:25px;height:70px">Pays de départ</th>
					<th style="width:15%;font-size:25px;height:70px">Pays de destination</th>
					<th style="width:10%;font-size:25px;height:70px">Prix</th>
				</tr>
				</thead>
				<tbody>
                    
                    <% items.forEach(function(item,index){ %>
                        <tr>
                            <td style="width:5%;font-size:20px;text-align:justify"><%= index+1 %> </td>
                            <td style="width:20%;font-size:20px;text-align:justify"><%= item.Vols[0].date_vol %></td>
                            <td style="width:10%;font-size:20px;text-align:justify"><%= item.Vols[0].num_siege %></td>
						    <td style="width:20%;font-size:20px;text-align:justify"><%= item.Vols[0].pays_origine %></td>
						    <td style="width:20%;font-size:20px;text-align:justify"><%= item.Vols[0].pays_destination %></td>
						    <td style="width:10%;font-size:20px;text-align:justify"><%= item.Vols[0].prix %>$</td>
                        </tr>
                    <%}); %>
				</tbody>
			</table>

			<p class="liens">
	            <a  href="/Reservation/Reserver" class="liaison_pages" style = "float:right;"> Réserver un vol</a>
		        <a  href="/" class="liaison_pages" style = "float:left;"> Retourner à l'Accueil </a>
	        </p>

		<% }else {%>
			<p class="titre">
	            Chez Express Airline, il faut d'abord ouvrir une session ou créer un compte avant d'effectuer une réservation. En effet,
                nous souhaitons garder les traces de nos clients dans nos archives. <br> Nous espérons que vous conmprenez!
	        </p>
	        <br>
            <br>
		    <p class="liens">
	            <a  href="/Compte" class="liaison_pages" style = "float:right;"> Ouvrir une session</a>
		        <a  href="/" class="liaison_pages" style = "float:left;"> Retourner à l'Accueil </a>
	        </p>
		<% } %>
	</div>
<div/>	

<%- include ('../partials/footer') %>